<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" media="all"
              href="static/css/home.css" th:href="@{static/css/home.css}" />
        <title>Carrito</title>
    </head>
    <body>

        <!--<header class="container-fluid" th:insert="plantilla.html::header">

            <p id="title" th:text="${title}">
                Titulo no encontrado

            </p>

        </header>-->

        <!--<div th:replace="static/fragments/plantilla :: header" ></div>-->



        <div class="row">

            <div class="card-body">
                <div class="form-group row">

                    <div class = "input-group">
                        <a href="/productos/crear/form" class="btn btn-primary">Nuevo Producto</a>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="aux : ${products}">
                        <td th:text="${aux.nombre}">Nombre</td>
                        <td th:text="${aux.precio}">Precio</td>
                        <td th:text="${aux.cantidad}">Cantidad</td>
                        <td>
                            <a th:text="Editar" th:href="'productos/form/'+${aux.id}" th class="btn btn-secondary btn-sm"/> |
                            <a th:text="Eliminar" th:href="'/productos/eliminar/'+${aux.id}" th class="btn btn-danger btn-sm"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>



        </div>

        <!--<div th:replace="/plantilla.html::javascript">

        </div>-->

        <div th:fragment="javascript">
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        </div>
    </body>


</html>